# The basic data types in Python

## 1 Introduction

### 1.1 Obtaining Python
__[Python 3](https://www.python.org/)__ is available for all major operating systems. Please [download](https://www.python.org/downloads/) the appropriate version for your computer and follow the [installation instructions](https://realpython.com/installing-python/). It is also recommended that you [install](https://docs.anaconda.com/anaconda/install/) the __[Anaconda](https://www.anaconda.com/products/distribution)__ distribution platform for Python. It includes several useful libraries and packages, notably [__NumPy__](https://numpy.org/), [__SciPy__](https://scipy.org/), [__matplotlib__](https://matplotlib.org) and [__Jupyter__](https://jupyter.org/)'s tools, all of which we will use during the course.

### 1.2 Links

We will only learn a _minuscule part_ of any of these libraries, and this will be done as we proceed along in the course, mostly in the form of examples. In any case, you may find the following references useful in the future:
* The [PEP8 style guide](https://pep8.org/) for Python code.
* A [beginner's guide](https://numpy.org/doc/stable/user/absolute_beginners.html) to the basics of **Numpy**.
* A [gallery of examples](https://matplotlib.org/stable/gallery/index.html) for **Matplotlib**.
* Some **Matplotlib** [cheat sheets](https://github.com/matplotlib/cheatsheets#cheatsheets).
* A [quickstart guide](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/) to **Jupyter** notebooks.

### 1.3 About Jupyter notebooks
The present document is a [__Jupyter notebook__](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/examples_index.html), a web-based interactive document which can contain both Python code and human-readable text. The content of a notebook is organized as an ordered list of __cells__, which can be of two types:

* **Markdown cells** are used to explain or complement code. They are formatted using Markdown syntax (**Markdown** is a very simple markup language). Besides text, they can also contain equations (LaTeX is supported), tables, images and other media.
* Cells containing Python code, called **code cells**, are distinguished by their gray background. Each cell can be edited, run and interacted with by the user as if it were a stand-alone script.

The filename extension for (Python) Jupyter notebooks is **.ipynb**.

In order to be able to create, edit and interact with (not merely read) notebooks, there are two alternatives:
1. You may install the [**Jupyter platform**](https://jupyter.org/) on your computer (click on "Install" and follow the installation instructions).
2. You may run a web-based Jupyter environment on your browser (in the cloud). Three websites that provide this service for free are:
    * The original [**Jupyter Notebook**](https://jupyter.org/try) web application (does not require an account; click on "Jupyter Notebook").
    * [**CoCalc**](https://cocalc.com/auth/try) (does not require an account; click on "Use CoCalc Anonymously").
    * [**Google Collab**](https://colab.research.google.com/) (requires a Google account and you must be signed in to use the service).
    
üìù Note that using option 2, *you do not have to install any of the software mentioned above on your machine*, not even the Python interpreter.

### 1.4 Editing and interacting with Jupyter notebooks

Try editing and playing around with the cell below. To insert a new line below the current one in a Python cell, use `Enter` (a.k.a. `Return`); to run the entire contents of the cell through the interpreter, use `Shift + Enter`.

In [1]:
print("Hello, world!")

pi = 3.14159
r = 10

print(f"The circumference of a circle of radius r = {r} is given by {2 * pi * r}")

area = pi * r**2    # '*' denotes multiplication and '**' denotes exponentiation.
area                # Return the value of area as output.

Hello, world!
The circumference of a circle of radius r = 10 is given by 62.8318

314.159

üìù In Python, the __pound__ sign __#__ is used to introduce a **comment**. Comments are ignored by the interpreter and can be used to  make a piece of code more readable or to clarify its intention or operation.

üìù Note the tags `In` and `Out` to the left of the preceding cell. The former tag stands for the *input* (or content) of the cell and the latter for its *output* (or result). This output is automatically stored in a variable named `_n`, where $ n $ is the number shown inside brackets `[ ]`. It can thus be conveniently referred to and used in other cells. For example:

In [2]:
_1 + 20.729    # Adds the output of cell 1 to 20.729; '+' denotes addition of numbers.

334.888

üìù To avoid ambiguity, the value stored in `_n` _will remain the same unless every output is cleared explicitly_. The counter $ n $ is incremented by $ 1 $ every time the code inside some cell is run. In particular, if a cell is run several times, its output will stored in several variables of this type.

### 1.5 About Python
[Python](https://www.python.org/) was originally developed by [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum) starting in 1989. It is at its core an [object-oriented programming](https://en.wikipedia.org/wiki/Object-oriented_programming) (_OOP_) language. However, it also supports the main elements of the [functional programming](https://en.wikipedia.org/wiki/Functional_programming) (_FP_) and [imperative programming](https://en.wikipedia.org/wiki/Imperative_programming) paradigms.

In contrast to some other widely used languages such as C, Java or Fortran, Python is an _interpreted_ language, meaning that its scripts are not compiled into machine code, but rather run by an _interpreter_.

The main advantage of interpreted languages (over compiled languages) is that they facilitate debugging and testing, since it is unnecessary to recompile, link and execute the source code after each modification. On the other hand, programs written in an interpreted language do not result in stand-alone applications, but instead require the presence of a Python interpreter in the user's computer to be run. Another disadvantage is that programs written in interpreted languages tend to have much slower execution time than their compiled equivalents, sometimes by a factor of ten or even more.

Some other features of Python that make it suitable for teaching and learning about programming are:

‚úÖ Python is _free_ and _open source_ software (_FOSS_);  
‚úÖ Python is available for all major operating systems, easy to install and its programs are platform-independent;  
‚úÖ Python's syntax is simple, pleasant and easy to learn, which makes for legible code;  
‚úÖ Python has an extensive standard library, abundant extensions and a large community of users and developers.

We will now provide an overview of the core of Python.

## 2 Variables and types

### 2.1 Variables, assignments and types

In programming languages, a __variable__ is used to store and manipulate a (not necessarily numerical) __value__. Each value must have a __type__, which in turn determines its properties and the operations that can be applied to it. Thus one can think of a variable as a named container which provides a convenient way to represent and manipulate an object, without having to refer explicitly to its memory address.

To assign a value to a variable, we use the __assignment operator__ `=` in the form *variable name* `=` *value*.

In [3]:
a = 1729        # Store the integer 1729 in variable 'a'.
a               # Return the value of variable a as the output of the cell.

1729

In [4]:
b = 'wizard'    # Assign the string 'wizard' to the name 'b'.
b               # Return the value of variable b as the output of the cell.

'wizard'

As in the preceding examples, the Python interpreter automatically infers the type of a variable from its value; this feature is called **type inference**. Moreover, in Python (in contrast to, say, C), variables are __typed dinamically__, meaning that not only can the _value_ of a variable change during a program, but even its _type_ can be modified. Whenever a previously used name is assigned to a new value, the original association is lost.

In [5]:
a = 'cunning'  # The name 'a' is now assigned to the string 'cunning'.
a

'cunning'

<div class="alert alert-warning"> In Python, simply creating a variable or assigning it a new value does <i>not</i> prompt the interpreter to return nor print its value.
    <ul>
        <li>To <i>print</i> the value of a variable, say $ x $, to the screen, use <code>print(x)</code>. Note that calling <code>print</code> generates no output (more precisely, it returns <code>None</code>).</li>
        <li>To force the interpreter to <i>return</i> the value of the variable as the output of a cell, just type its name, in this case <code>x</code>, as was done above for <code>a</code>.</li></ul></div>

üìù More generally, the function `print` can be used to print to the screen any collection of arguments, separated by commas. These commas will be replaced by single spaces in the output.

In [6]:
print(a)
print(a, b)
b

cunning
cunning wizard

'wizard'

In [7]:
print(print(a))           # Can you anticipate the result of executing this line?
print(type(print(a)))     # Can you explain what happens when you execute this line?

cunning
None
cunning
<class 'NoneType'>

üìù Variable names may consist only of _alphanumeric characters_ (i.e., the characters A-Z, a-z and 0-9) and _underscores_ \_; the initial character must be a letter. By convention, uppercase initial letters are usually reserved to denote [classes](https://docs.python.org/3/tutorial/classes.html) (a concept which we will not consider in detail) and lowercase initial letters to name other objects.

‚ö†Ô∏è In Python, all names (not just those of variables) are **case-sensitive**. Thus `Staff` and `staff` may refer to completely different objects.

üìù The type of a variable $ x $ can be inspected through a call to the function `type`, as in `type(x)`. One can also verify whether variable $ x $ has a given type *variable_type* through `isinstance(x, variable_type)`. Recall that the type of a variable is allowed to change during the program.

#### Example:

In [8]:
x = 2                      # x is an integer.
print(x)
print(type(x))
print(isinstance(x, int))  # x is of type int, True or False?

x = '2'                    # x is now a string.
print(x, type(x))          # We may print several items using a single print statement!
print(isinstance(x, int))  # True or False? Is x an int?

x = 2.0                    # x is now a floating-point number.
print(x, type(x))
print(isinstance(x, str))  # Is x a string?

x                          # Return the current value of x as the output of this cell.

2
<class 'int'>
True
2 <class 'str'>
False
2.0 <class 'float'>
False

2.0

üö´ The following small set of keywords *cannot* be used to name objects because they already have a special meaning to the interpreter:

| Reserved  | keywords   |            |           |
| :-------- | :--------- | :--------- | :------   |
|`False` 	| `def` 	 | `if`       | `raise`   |
|`None` 	| `del` 	 | `import`   | `return`  |
|`True` 	| `elif` 	 | `in` 	  | `try`     |
|`and` 	    | `else` 	 | `is` 	  | `while`   |
|`as` 	    | `except`   | `lambda`   | `with`    |
|`assert` 	| `finally`  | `nonlocal` | `yield`   |
|`break` 	| `for` 	 | `not`      |           |
|`class` 	| `from` 	 | `or` 	  |           |
|`continue` | `global`   | `pass`     |           |

üìù One can make several _simultaneous_ assignments in a single line using commas `,` as separators. This is especially useful for permuting the values of two or more variables without resorting to temporary variables.

#### Example:

In [9]:
x = 1
y = 2
print(x, y)

x, y = y, x
print(x, y)

# Multiple assignments are made _simultaneously_.
# Check this in the following example:
x, y = x + y, x - y
print(x, y)

1 2
2 1
3 1

### 2.2 `True`, `False` and `None`

Perhaps the most basic types in Python are:
* `bool`, or **boolean**, which consists of the values `True` and `False`;
* `Nonetype`, which consists only of the value `None`.

The first type appears for instance in the conditional tests of *if-elif-else* or *while* constructs (to be considered later), or as the result of comparisons. The value `None` is frequently used as a placeholder in the case where a function has no values to return.

Booleans support the **logical operators** `and`, `or` and `not` (formally called *conjunction*, *disjunction* and *negation*, respectively). Observe that the former two are _binary_ operators, while the latter is a _unary_ operator.

#### Example:

In [10]:
a = True
b = False
print(a, type(a))
print(b, type(b))

True <class 'bool'>
False <class 'bool'>

In [11]:
print(a and a)
print(a and b)
print(b and a)
print(b and b)

True
False
False
False

In [12]:
print(a or a)
print(a or b)
print(b or a)
print(b or b)

True
True
True
False

In [13]:
a = True
b = False

print(not(a))
print(not(a and b))
print((not a) or (not b))
print((not(not(a))))

False
True
True
True

## 3 Numerical types and operators

### 3.1 Basic numerical types

Python supports three basic data types for storing numbers:
* `int`, or **integer** type for integers such as $ -1 $, $ 2 $, $ 0 $ or $ 53 $;
* `float`, or **floating-point** type for floating-point numbers (intuitively, numbers with a finite decimal expansion) such as $ 3.1415 $, $ 2.0 $ or $ -.450 $;
* `complex`, or **complex** type for complex numbers such as $ 2 + 3j $ or $ 3.14 - 43.5 j$.

‚ö†Ô∏è In Python the imaginary unit is denoted by $ j $ instead of the more usual $ i $.

üìù `int`, `float` and `complex` can also be used as _functions_ to convert a value  to the corresponding type, whenever this is possible. Similarly, any variable of a numerical type can be converted to a string using `str` (more about strings [in a moment](#strings)). More precisely:
* Any integer may be converted to a floating-point or complex number;
* Any floating-point number can be converted to a complex number;
* Any numerical value can be converted to a string;
* Conversely, a string can also be converted to a numerical type, provided that its literal represents a valid number of the intended type.


__Example:__

In [14]:
a = 2
float_a = float(a)
complex_a = complex(a)
str_a = str(a)

print(a, type(a))
print(float_a, type(float_a))
print(complex_a, type(complex_a))
print(str_a, type(str_a))

2 <class 'int'>
2.0 <class 'float'>
(2+0j) <class 'complex'>
2 <class 'str'>

üìù Applying `int` to a floating-point number $ x $ __truncates__ its decimal part (i.e., returns the largest integer $ n \le x $). To __round__ $ x $ to the nearest integer, use `round(x)`. More generally, `round(x, number_of_digits)` rounds a floating-point number $ x $ to a precision within _number_of_digits_ digits after the decimal point.

__Example:__

In [15]:
b = 2.654321
truncated_b = int(b)
rounded_b = round(b)
c = round(b, 3)          # Round b to a precision within the third decimal digit.
complex_b = complex(b)

print(truncated_b)
print(rounded_b)
print(c)
print(complex_b, type(complex_b))

2
3
2.654
(2.654321+0j) <class 'complex'>

üö´ A complex number can also be converted to a string. However, trying to convert it to an integer or floating-point number will result in a `TypeError`.

In [16]:
d = 2.0 + 0j
int_d = int(d)

TypeError: can't convert complex to int

In [17]:
float_d = float(d)

TypeError: can't convert complex to float

A floating-point number can also be written in the __exponential notation__ using `e`.

__Example:__

In [18]:
a = 3.14159e0
b = 1.23e2
c = 1e-1
d = 10e-1
e = 4.56e-2
f = 7.89e10

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

3.14159
123.0
0.1
1.0
0.0456
78900000000.0

üìù The result is thus obtained by multiplying the number to the left of `e` by $ 10 $ raised to the (integer) power to the right of `e`.

### 3.2 Arithmetic operators
Python supports the following binary arithmetic operators:

| Operator  | Operation          | Types allowed              |
| :-------- | :---------         | :------------------------  |
| `+`       | Addition           |  `int`, `float`, `complex` |
| `-`       | Subtraction        |  `int`, `float`, `complex` |
| `*`       | Multiplication     |  `int`, `float`, `complex` |
| `/`       | Division           |  `int`, `float`, `complex` |
| `**`      | Exponentiation     |  `int`, `float`, `complex` |
| `//`      | Integer division   |  `int`, `float`            |
| `%`       | Modulo (remainder) |  `int`, `float`            |

<a name="table 1"></a>

The last two operators are defined as follows. If $ x $ and $ y $ are *positive* integers or floating-point numbers, then:
* ` x // y` is the largest integer $ n $ such that $ n y \le x $.
* `x % y` is $ x - n y $, for $ n $ as above.

These two operators are usually applied only when $ x $ and $ y $ are both positive. If one or both of $ x $, $ y $ is negative, the definition is similar.

__Example__:

In [19]:
11 // 3

3

In [20]:
11 % 3

2

In [21]:
# Taking % with second argument 1 results in the decimal part of the (positive) first argument:
3.14159 % 1

0.14158999999999988

In [22]:
print("7 + 2 =", 7 + 2, "    7 * 2 =", 7 * 2,  "   7 // 2 =", 7 // 2, "    7 % 2 =", 7 % 2)
print("7 - 2 =", 7 - 2, "    7 / 2 =", 7 / 2,  "  7 ** 2 =", 7**2)

7 + 2 = 9     7 * 2 = 14    7 // 2 = 3     7 % 2 = 1
7 - 2 = 5     7 / 2 = 3.5   7 ** 2 = 49

In [23]:
x = complex(1, 2)      # Create, store the complex number 1 + 2 j .
y = complex(3.1, 4.1)  # Create, store the complex number 3.1 + 4.1 j .
z = 5

print(y * x)
print(y + x)
print(y - x)
print(z / x, x ** y)

(-5.1+10.3j)
(4.1+6.1j)
(2.1+2.0999999999999996j)
(1-2j) (0.11663140540859289+0.056098418726851895j)

üö´ Division by zero results in an error of type `ZeroDivisionError`:

In [24]:
2.14 / 0.0

ZeroDivisionError: float division by zero

Besides these binary arithmetic operators, we can also make use of the following functions when working with numerical values:
* `abs`, the **absolute value** function, which takes a single numerical argument;
* `max` and `min`, the **maximum** and **minimum** functions, which can take any number of (float or integer) arguments, separated by commas.

#### Example:

In [25]:
print(abs(-3.1415))
print(abs(2))
print(abs(-3 + 4j))
# Can you explain why abs(-3 + 4j) = 5.0?
# Hint: the modulus of a complex number a + bj is given by
# the square root of a**2 + b**2.

print(max(-5.3, 2, 10.45, -23, 0))
print(min(-5.3, 2, 10.45, -23, 0))

3.1415
2
5.0
10.45
-23

Other common mathematical functions such as the exponential, the logarithm and the trigonometric functions can be used after importing the `math` module (more about this later).

### 3.3 Compound assignment operators

Corresponding to each of the arithmetic operators considered above, Python provides the following **compound assignment operators** (taken from C), which are used to perform an operation in-place on a variable provided as its first operand:

    +=, -=, *=, /=, **=, //=, %=

Their meaning will be clear from the following examples:

| Example             | Equivalent statement |
| :--------           | :---------           |
| `x += 3.14`         | ` x = x + 3.14`      |
| `x -= (2  + 3j)`    | `x = x - (2 + 3j)`   |
| `x *= 2`            | `x = x * 2`          |
| `x /= 3`            | `x = x / 3`          |
| `x **= 0.5`         | `x = x**0.5`         |
| `x //= z`           | `x = x // z`         |
| `x %= y**2`         | `x = x % (y**2)`     |

In each case, the _new_ value of the variable _x_ is given by the expression on the right, where the _old_ value of _x_ is used in the computation.

#### Example:

In [26]:
x = 7
y = 5

x -= y         # x = 7 - 5 = 2
y -= x         # y = 5 - 2 = 3

print(x, y)

x **= y        # x = 2**3 = 8
x -= 6         # x = 8 - 6 = 2
y //= x        # y = 3 // 2 = 1

print(x, y)

2 3
2 1

### 3.4 Comparison operators <a name="comparison"></a>

The following binary comparison operators can be applied to floating-point numbers and integers. Each of them returns either `True` or `False`.

| Operator   | Translation                |
| :--------  | :---------                 |
| `==`       | Equal to                   |
| `!=`       | Not equal to               |
| `<`        | Less than                  |
| `>`        | Greater than               |
| `<=`       | Less than or equal to      |
| `>=`       | Greater than or equal to   |

<div class="alert alert-warning">It is a common mistake for beginners to confuse the assignment operator <code>=</code> with the equality operator <code>==</code>; this can lead to errors, explicitly or otherwise.</div>

As we will see later, these comparison operators also work on other types, such as strings. 

üìù If a comparison is made between two values of different types, then the interpreter will first try to convert them to a common type; e.g., if one compares an integer to a float, then the integer is first converted to a float.

#### Example:

In [27]:
a = 8
b = 7.99
c = -23

print(a > b)
print(a != b)
print((c <= a) and (a >= b))

True
True
True

## 4 Strings<a name="strings"></a>

### 4.1 Strings as sequences of characters
A __string__ is a sequence of characters enclosed in either single `'` or double `"` quotes. The type corresponding to strings is denoted by `str`.

To get the $ i $-th character of a string called, say, $ s $, use `s[i]`; the output is also string (albeit one having only $ 1 $ character).

<div class="alert alert-warning">In Python, indices are <i>always</i> counted starting from <b> $ 0 $  (zero)</b>, not $ 1 $. To avoid confusion, we adapt our terminology accordingly to speak of, e.g., 'm' as the <i>0-th</i> character of the string 'magic', 'a' as its first character, and so on...</div>

üìù By prefixing an index with a minus sign $ - $, we start counting to the 'left' from the 0-th character. For example, `s[-1]` is the _last_ character of $ s $, `s[-2]` its *next-to-last* character, and so on.

#### Example:

In [28]:
g = "Gandalf"
s = "Sauron"
explosion = "BOOM!"

character = g[0]
print(character, type(character))

another_character = s[4]
print(another_character)

yet_another_character = explosion[-1]
print(yet_another_character)

# Since these characters are actually strings, we can concatenate them using '+':
print(character + another_character + yet_another_character)

G <class 'str'>
o
!
Go!

### 4.2 Operations on strings

As in the preceding example, strings can be __concatenated__ using the binary operator __+__:

In [29]:
string_1 = "ancient"
string_2 = "magic"
string_3 = "spells"

print(string_1 + string_2)
print(string_1 + " " + string_2 + " " + string_3)

ancientmagic
ancient magic spells

The function `len` applied to a string returns its **length**, i.e., the number of characters it contains, which is always a non-negative integer.

#### Example:

In [30]:
print(len(string_1))
print(len(string_2))
print(len(string_3))

7
5
6

üö´ A string is an __immutable__ object, meaning that its individual characters _cannot_ be modified during the program. Trying to do so will make the interpreter throw a `TypeError`.

In [31]:
# Let's try to modify the first string of g to see what happens:
g[0] = 'R'

TypeError: 'str' object does not support item assignment

The **colon operator `:`**, as in `[i:j]`, is used to __slice__ a string from its $ i $-th character (inclusive) to its $ j $-th character (exclusive).

#### Example:

In [32]:
string = 'magic'

print(string[0:2])   # Slice from the 0th character to the 2nd (not including the 2nd).
print(string[2:5])   # Slice from the 2nd character to the 5th (not including the 5th).

print(string[:2])    # Omit the first index to slice from the beginning to the second index.
print(string[2:])    # Omit the second index to slice from the first index to the end.

ma
gic
ma
gic

‚ö†Ô∏è To make an independent copy of a string, use a *complete slice* `[:]`.

#### Example:

In [33]:
string_1 = 'potion'
string_2 = string_1[:]    # Omit both indices to make an independent _copy_ of the original string.

string_1 = 'magic'

print(string_1, string_2)

magic potion

üìù In analogy with the interpretation of `+` as concatenation of strings, if one 'multiplies', using `*`, a string by a positive integer $ n $, then the result is a new string which consists of $ n $ copies of the original concatenated, one after another. The remaining arithmetic operators (`-`, `/`, `//` and `%`) cannot be applied to strings.

#### Example:

In [34]:
s = 'ha'
t = 5 * s       # t consists of 5 copies of s.
print(t)

u = (-4) * s    # What happens if we multiply s by 0 or by a negative integer?
print(u)

hahahahaha

In [35]:
print(t // s)   # We can't divide two strings!

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [36]:
v = 2.71 * s    # Can we multiply a string by a float?

TypeError: can't multiply sequence by non-int of type 'float'

### 4.3  Comparing strings

üìù All of the comparison operators introduced in [Section 3.4](#comparison) work for strings as well. Strings are ordered according to the **dictionary order**:

In [37]:
a = "potion"
b = "portion"
q = "quarterstaff"  
r = "robe"

print(a < b)
print(b < q)
print(a == q)
print(q != r)
print(q <= r)

False
True
False
True
True

## 5 Lists

### 5.1 The `list` type

A **list** (that is, an object of type `list`) consists of zero, one or several objects ordered in sequence. The items of a list are allowed to be of *any* type, and the types of different elements do not have to be the same. In particular, one can create lists which contain integers, floats and strings; lists whose elements are other lists or tuples; lists of lists of functions, and so on.

A list is represented using *brackets* `[]`, with its elements separated by commas. The function `len` can be used to count the number of items contained in a list.

#### Example:

In [38]:
fruits = ["acai", 'apple', "apricot", 'avocado']
numbers = [0, 'eight', -53, 12.34, (3 + 4j)]       # The elements of a list can be of different types!
empty = []                                         # This is an empty list.
mages = ['Delfador']                               # This list has a single element.

print(len(fruits))                                 # Use 'len' to get the length of a list.
print(len(empty))

new_list = fruits + mages                          # We can concatenate two lists using '+'.
print(new_list)

4
0
['acai', 'apple', 'apricot', 'avocado', 'Delfador']

üìù Just like strings, lists can be **concatenated** with the `+` operator, 'multiplied' by positive integers using `*` and **sliced** with the `:` operator.

### 5.2 Modifying lists

In contrast to strings, lists are **mutable** objects, meaning that their individual elements can be modified by assignments.

#### Example:

In [39]:
wizards = ["Elminster", "Merlin", "Viconia", "Gorion", "Dumbledore"]
print(wizards)

wizards[1] = "Saruman"                    # Modify the 1st (not 0th!) element of the list.
print(wizards)

wizards[2:4] = ["Galadriel", "Delfador"]  # Modify the specified elements.
print(wizards)

print(wizards[:2])                        # Print the first two wizards.

['Elminster', 'Merlin', 'Viconia', 'Gorion', 'Dumbledore']
['Elminster', 'Saruman', 'Viconia', 'Gorion', 'Dumbledore']
['Elminster', 'Saruman', 'Galadriel', 'Delfador', 'Dumbledore']
['Elminster', 'Saruman']

‚ö†Ô∏è Before a list can store an item whose index is $ k $, it must have items associated with *every* index between $ 0 $ and $ k - 1 $. Trying to modify or access in any way the element of index $ k $ in a list which currently does not have such an element generates an `IndexError`.

**Example:**

In [40]:
drinks = ["coffee", "tea", "water"]
print(drinks[3])

IndexError: list index out of range

In [41]:
drinks = ["coffee", "tea", "water"]
drinks[3] = "orange juice"

IndexError: list assignment index out of range

### 5.3 Some methods defined on lists

Lists also support several methods (a **method** is a function associated with a specific class or type). Here are examples of how some of them are used.

#### Example:

In [42]:
fruits = ["avocado", 'apricot', "acai", 'apple']

fruits.append('apple')            # Append an element to the end of a list.
print(fruits)

fruits.insert(0, "strawberry")    # Insert an element in a specified position.
print(fruits)

fruits.remove('apple')            # Remove the _first occurrence_ of an element.
print(fruits)

a = fruits.pop(2)                 # Remove the element having the specified index               
print(fruits)                     # and return it as output. 

b = fruits.pop()                  # Use 'pop' without any arguments to remove the
print(fruits)                     # last item of a list and return it as output.

print(a, b)

fruits.sort()
print(fruits)

['avocado', 'apricot', 'acai', 'apple', 'apple']
['strawberry', 'avocado', 'apricot', 'acai', 'apple', 'apple']
['strawberry', 'avocado', 'apricot', 'acai', 'apple']
['strawberry', 'avocado', 'acai', 'apple']
['strawberry', 'avocado', 'acai']
apricot apple
['acai', 'avocado', 'strawberry']

Note that, in each case, the name of the list appears before the method, and is separated from it by a period (`.`). More formally:

* `append(x)` can be used to append an element $ x $ to the _end_ of a list.
* `insert(i, x)` is used to insert an element $ x $ in an arbitrary position $ i $ of a list. Elements having indices $ < i $ remain in their original position, while those having indices $ \ge i $ are shifted one position to the right.
* `remove(x)` is used to remove the *first occurrence* of an item $ x $ of a list. If the list does not contain any instances of this element, then the interpreter throws a `TypeError`.
* `sort(lst)` is used to **sort** the elements of a list _lst_ in ascending order, provided this makes sense.
* `pop(i)` removes the item of the list at index $ i $.

üìù The first four of these methods modify the list as described, _but they return_ `None` as output. However, `pop` returns the popped element as output.

#### Example:

In [43]:
a = fruits.insert(0, "banana")
print(a)

b = fruits.sort()
print(b)
print(fruits)

None
None
['acai', 'avocado', 'banana', 'strawberry']

<div class="alert alert-warning">If $ x $ stores a <i>mutable</i> object, then the assignment <code>y = x</code> does not result in a new <i>object</i> named $ y $; instead, this just makes $ y $ a new pointer to the object stored by $ x $. Because of this, any modification of the value of $ x $ will affect $ y $, and vice-versa.</div>

#### Example:

In [44]:
x = [0, 1, 2]
y = x

x.pop()         # Popping an element from x also affects y,
y               # since they refer to the same object!

[0, 1]

In [45]:
x = [0, 1, 2]    # To create an independent copy of x, use a complete slice:
y = x[:]

x.pop()
y                # y has not been affected by the modification of x.

[0, 1, 2]

## 6 Tuples

### 6.1 The `tuple` type

Another sequential data type is `tuple`, the type of **tuples**. Like a list, a tuple is a sequence of non-negative length of objects of arbitrary types, separated by commas. However, tuples are enclosed by *parentheses* `()` instead of brackets. Also, tuples are **immutable** (like strings), so that their individual elements _cannot_ be modified.

### 6.2 Operations on tuples

As for the other sequential types that we have considered (strings and lists), tuples can be concatenated with `+`, their length can be retrieved using `len`, and their elements and slices can be accessed using `[]` and the `:` operator.

#### Example:

In [46]:
# Each of the following tuples records some data about famous scientists:
record_1 = ('Albert', 'Einstein', 'physicist', 26, 'Germany')
record_2 = ('Marie', 'Curie', 'chemist', 32, 'Poland')
record_3 = ('Charles', 'Darwin', 'biologist', 50, 'England')

# Each of them is indeed of type 'tuple':
print(type(record_1))

# Accessing individual elements:
print(record_1[0])
print(record_2[2])
print(record_3[-1])

<class 'tuple'>
Albert
chemist
England

In [47]:
# Slicing:
full_name = record_1[:2]
print(full_name)

('Albert', 'Einstein')

In [48]:
# To convert a tuple to a list, use 'list' as a function:
data = list(record_1)
print(data, type(data))

# Similarly, to convert a list to a tuple, use 'tuple' as a function:
philosophers = ["Plato", "Aristotle", "Seneca", "Socrates"]
tuple_of_philosophers = tuple(philosophers)
print(tuple_of_philosophers, type(tuple_of_philosophers))

['Albert', 'Einstein', 'physicist', 26, 'Germany'] <class 'list'>
('Plato', 'Aristotle', 'Seneca', 'Socrates') <class 'tuple'>

### 6.3 Some warnings

‚ö†Ô∏è To define a tuple consisting of a single item, a comma must still be used, so that the tuple can be disambiguated from an expression surrounded by parentheses:

In [49]:
language = ('Sindarin', )         # To define a tuple, we must include a comma!
print(language, type(language))

lang = ('Sindarin')               # This is not a tuple, but rather a string;
print(lang, type(lang))           # the parentheses play no role in this case.

('Sindarin',) <class 'tuple'>
Sindarin <class 'str'>

üö´ Since a tuple is _immutable_, an attempt to modify one or more of its elements results in a `TypeError`:

In [50]:
coordinates = (1.234, 5.678)
coordinates[0] = 0.123

TypeError: 'tuple' object does not support item assignment

‚ö†Ô∏è We emphasize that even if $ x $ and $ y $ are two tuples or lists of the same length and whose items are  of the same numerical type, `x + y` is *not* obtained by summing their respective elements; it is instead the *concatenation* of $ x $ and $ y $. Similarly, if $ a $ is a scalar, then `a * x` is *not* obtained by multiplying each item of $ x $ by $ a $, even if $ a $ is an integer.

<div class="alert alert-warning">Neither lists nor tuples are adequate data structures to represent <b>vectors</b> (in the sense of linear algebra). The most adequate type for this task is an <b>array</b> (type: <code>array</code>, provided by the <a href="https://scipy.github.io/old-wiki/pages/Numpy_Example_List.html"><b>NumPy</b></a> module), which we will consider later.</div>

üìù **Question:** Do we really need both lists and tuples? 

*Answer:* No, strictly speaking we could always get by using only one of them. However, the versatility has many advantages.

üìù **Question:** What is the difference between lists and tuples?

*Answer:* The main difference is that lists are _mutable_ while tuples are _immutable_. In particular:
* We cannot modify the value of individual elements of a tuple as we can with lists.
* We cannot remove or add elements to a tuple. Tuples have no methods equivalent to `append`, `pop`, `insert`, `remove`, etc.. In particular, tuples have a fixed length. Even though it is possible to assign a tuple to a variable and then assign another tuple of different length to the same variable, this is not the same operation as modifying the original tuple.
* Tuples are generally a bit 'faster' than lists.
* Because tuples are immutable, they offer a better choice when storing information which should be protected from modification to avoid unforeseen behavior.